################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrossMail.Tests/obj
/CrossMail.Tests/bin/Debug/netcoreapp2.0
/Crossover.Helper/obj
/CrossoverHelper/bin/Debug
/CrossoverHelper/obj/Debug
/packages
